*
{
    margin: 0;
    padding: 0;
}

.wrapper
{
    margin: 0 auto;
    width: 1000px;
}

body
{
    margin: 0;
    padding: 0;
    background-color: black;
}

.img-IL1
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}

h1
{
    color: white;
    text-align: center;
}

/* comment css