.about {
    height: 50vh;
    width: 100%;
    height:auto;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(../images/background/RainyNYC.jpg);
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    text-align: center;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.description {
    margin: 20px;
    color: white;
}