@media(max-width: 768px) {
    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        right: -100%;
        top: 65px;
        gap: 0;
        flex-direction: column;
        background-color: #212121;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        z-index: 1;
    }

    .nav-item {
        margin: 16px 0;
    }

    .nav-menu.active {
        right: 0;
    }

    .intro h1 {
        font-size: 55px;
    }

    .intro h3 {
        font-size: 20px;
        padding: 10px;
        transform: translate(0%, -80%);
    }

    .more-about-me {
        font-size: 20px;
        transform: translate(0%, -70%);
    }

    .IL1 {
        width: 225px;
    }

    label.logo {
        font-size: 40px;
    }
}