* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Source Serif Pro", serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0px;
  padding: 0px;
  background-color: black;
  color: white;
}

/* ---------- NAVBAR ---------- */
/* DEFAULT */
nav {
  background: #212121;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 24px;
}

/* Logo: INDEX */
.index-logo {
  text-align: left;
  font-size: 45px;
  font-weight: 900;
  color: deepskyblue;
}

/* Logo: ABOUT */
.about-logo {
  text-align: left;
  font-size: 45px;
  font-weight: 900;
  color: orange;
}

/* Logo: WORK */
.work-logo {
  text-align: left;
  font-size: 45px;
  font-weight: 900;
  color: crimson;
}

/* Logo: CONTACT */
.contact-logo {
  text-align: left;
  font-size: 45px;
  font-weight: 900;
  color: magenta;
}

/* Nav Menu: DEFAULT */
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  list-style: none;
}

/* Nav Link: INDEX */
.index-nav-link {
  color: white;
  text-decoration: none;
  transition: 0.25s;
}

.index-nav-link:hover {
  color: deepskyblue;
}

.index-nav-link:after {
  content: "";
  width: 0%;
  height: 2px;
  background: deepskyblue;
  display: block;
  margin: auto;
  transition: 0.25s;
}

.index-nav-link:hover::after {
  width: 100%;
}

/* Nav Link: ABOUT */
.about-nav-link {
  color: white;
  text-decoration: none;
  transition: 0.25s;
}

.about-nav-link:hover {
  color: orange;
}

.about-nav-link:after {
  content: "";
  width: 0%;
  height: 2px;
  background: orange;
  display: block;
  margin: auto;
  transition: 0.25s;
}

.about-nav-link:hover::after {
  width: 100%;
}

/* Nav Link: WORK */
.work-nav-link {
  color: white;
  text-decoration: none;
  transition: 0.25s;
}

.work-nav-link:hover {
  color: crimson;
}

.work-nav-link:after {
  content: "";
  width: 0%;
  height: 2px;
  background: crimson;
  display: block;
  margin: auto;
  transition: 0.25s;
}

.work-nav-link:hover::after {
  width: 100%;
}

/* Nav Link: CONTACT */
.contact-nav-link {
  color: white;
  text-decoration: none;
  transition: 0.25s;
}

.contact-nav-link:hover {
  color: magenta;
}

.contact-nav-link:after {
  content: "";
  width: 0%;
  height: 2px;
  background: magenta;
  display: block;
  margin: auto;
  transition: 0.25s;
}

.contact-nav-link:hover::after {
  width: 100%;
}

/* JavaScript Menu */
.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

/* Navbar: Smaller Devices */
@media (max-width: 576px) {
  .hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav-menu {
    position: fixed;
    right: -100%;
    top: 60px;
    gap: 0;
    flex-direction: column;
    background-color: #212121;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    z-index: 1;
  }
  .nav-item {
    margin: 16px 0;
  }
  .nav-menu.active {
    right: 0;
  }
  label.logo {
    font-size: 37px;
  }
}
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav-menu {
    position: fixed;
    right: -100%;
    top: 60px;
    gap: 0;
    flex-direction: column;
    background-color: #212121;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    z-index: 1;
  }
  .nav-item {
    margin: 16px 0;
  }
  .nav-menu.active {
    right: 0;
  }
  label.logo {
    font-size: 40px;
  }
}
/* ---------- INDEX ---------- */
/* Layout */
.home {
  text-align: center;
  background-image: url(../images/background/space.jpeg);
  width: 100%;
  background-position: center;
  background-size: cover;
}

.home video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}

/* Text Style */
.home h1 {
  position: relative;
  top: -70px;
  padding: 0px 30px;
  font-size: 65px;
  font-weight: 600;
}

.home h3 {
  position: relative;
  top: -45px;
  padding: 0px 20px;
  font-size: 28px;
}

/* Redirect Buttons */
.about-button {
  color: white;
  text-decoration: none;
  display: inline-block;
  border: 2px solid white;
  padding: 12px 34px;
  margin: 10px;
  font-size: 23px;
  position: relative;
  top: -35px;
  font-style: bold;
  background: transparent;
  cursor: pointer;
}

.about-button:hover {
  background: orange;
  transition: 1s;
}

.work-button {
  color: white;
  text-decoration: none;
  display: inline-block;
  border: 2px solid white;
  padding: 12px 34px;
  margin: 10px;
  font-size: 23px;
  position: relative;
  top: -35px;
  font-style: bold;
  background: transparent;
  cursor: pointer;
}

.work-button:hover {
  background: crimson;
  transition: 1s;
}

/* Profile Picture */
.IL1 {
  -webkit-clip-path: circle();
          clip-path: circle();
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
}

/* Smaller Devices */
@media (max-width: 576px) {
  .home h1 {
    font-size: 50px;
  }
  .home h3 {
    font-size: 21px;
  }
  .about-button {
    font-size: 17px;
  }
  .work-button {
    font-size: 17px;
  }
  .IL1 {
    width: 200px;
  }
}
@media (max-width: 768px) {
  .home h1 {
    font-size: 55px;
  }
  .home h3 {
    font-size: 24px;
  }
  .about-button {
    font-size: 19px;
  }
  .work-button {
    font-size: 19px;
  }
  .IL1 {
    width: 225px;
  }
}
.about {
  color: white;
  position: relative;
}

.about h1 {
  padding: 20px 0;
  font-size: 50px;
}

.about h2 {
  padding-bottom: 20px;
}

.work-beginning {
  padding: 0px 10px;
}

.welcome h1 {
  font-size: 30px;
}

.languages-tools:hover {
  color: deepskyblue;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  background: #212121;
  display: flex;
  flex-direction: column;
  padding: 2vw 4vw;
  width: 90%;
  max-width: 600px;
  border-radius: 10px;
}

form h1 {
  font-size: 65px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 20px;
}

form input, form textarea {
  border: 0px;
  margin: 10px 0;
  padding: 20px;
  outline: none;
  background: #323232;
  font-size: 16px;
  color: white;
}

form button {
  padding: 15px;
  background: #808080;
  color: white;
  font-size: 18px;
  border: 0;
  outline: none;
  cursor: pointer;
  width: 150px;
  margin: 20px auto 0;
  border-radius: 30px;
}

form button:hover {
  background-color: magenta;
  transition: 0.5s;
}

/* ---------- FOOTER ---------- */
/* DEFAULT */
footer {
  margin-top: auto;
  padding: 10px;
  background: #212121;
}

/* Socials: INDEX */
.index-socials {
  list-style: none;
  display: flex;
  justify-content: center;
}

.index-socials li {
  margin: 0px 10px;
  cursor: pointer;
}

.index-socials a {
  text-decoration: none;
  color: white;
}

.index-socials a i {
  font-size: 30px;
  transition: color 0.5s ease;
}

.index-socials a:hover i {
  color: deepskyblue;
}

/* Socials: ABOUT */
.about-socials {
  list-style: none;
  display: flex;
  justify-content: center;
}

.about-socials li {
  margin: 0px 10px;
  cursor: pointer;
}

.about-socials a {
  text-decoration: none;
  color: white;
}

.about-socials a i {
  font-size: 30px;
  transition: color 0.5s ease;
}

.about-socials a:hover i {
  color: orange;
}

/* Socials: WORK */
.work-socials {
  list-style: none;
  display: flex;
  justify-content: center;
}

.work-socials li {
  margin: 0px 10px;
  cursor: pointer;
}

.work-socials a {
  text-decoration: none;
  color: white;
}

.work-socials a i {
  font-size: 30px;
  transition: color 0.5s ease;
}

.work-socials a:hover i {
  color: crimson;
}

/* Socials: CONTACT */
.contact-socials {
  list-style: none;
  display: flex;
  justify-content: center;
}

.contact-socials li {
  margin: 0px 10px;
  cursor: pointer;
}

.contact-socials a {
  text-decoration: none;
  color: white;
}

.contact-socials a i {
  font-size: 30px;
  transition: color 0.5s ease;
}

.contact-socials a:hover i {
  color: magenta;
}

footer p {
  text-align: center;
  color: white;
  font-size: 14px;
  padding-top: 15px;
}/*# sourceMappingURL=style.css.map */